# Google Analytics
# Get your GA ID from: https://analytics.google.com/analytics/web/
# It looks like: G-XXXXXXXXXX (Google Analytics 4) or UA-XXXXXXXXX-X (Universal Analytics)
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-H1WTXCFDDK
